tr > td {
  height: 80px;
  width: 80px;

  background-color: #e5f0ff;
  border-radius: 1rem;
  /* color: red; */
  /* border: 1px solid green; */
}

/* tr:nth-child(even) {
  border: solid 3px black;
} */

.board-table {
  border-collapse: separate;
  border-spacing: 10px;
  border: solid 10px #367be1;
  border-radius: 2rem;
  background-color: #f4f9ff;
}

.p1 {
  background-color: #ffb1b1;
}

.p2 {
  background-color: #9ce4cf;
}
