tr > td {
  max-height: 80px;
  max-width: 80px;
  min-height: 60px;
  min-width: 60px;

  background-color: #ecf4ff;
}

tr:nth-child(odd) > td:nth-child(even),
tr:nth-child(even) > td:nth-child(odd) {
  background-color: #bfcbdb;
}

.board-table {
  border: solid 10px #367be1;
}

tr:nth-child(odd) > .p1:nth-child(even),
tr:nth-child(even) > .p1:nth-child(odd) {
  background-color: #e0abab;
}

tr:nth-child(even) > .p1:nth-child(even),
tr:nth-child(odd) > .p1:nth-child(odd) {
  background-color: #ffd9d9;
}

tr:nth-child(odd) > .p2:nth-child(even),
tr:nth-child(even) > .p2:nth-child(odd) {
  background-color: #abd6b7;
}

tr:nth-child(even) > .p2:nth-child(even),
tr:nth-child(odd) > .p2:nth-child(odd) {
  background-color: #d6fdf1;
}

.emp {
  height: 80px;
  width: 80px;
}

.emp16 {
  height: 60px;
  width: 60px;
}
