tr > td {
  max-height: 80px;
  max-width: 80px;
  min-height: 60px;
  min-width: 60px;

  background-color: #e5f0ff;
  border-radius: 1rem;
  /* color: red; */
  /* border: 1px solid green; */
}

/* tr:nth-child(even) {
  border: solid 3px black;
} */

.board-table {
  border-collapse: separate;
  border-spacing: 8px;
  border: solid 10px #367be1;
  border-radius: 2rem;
  background-color: #f4f9ff;
}

.p1 {
  background-color: #ffb1b1;
}

.p2 {
  background-color: #9ce4cf;
}

.emp {
  height: 80px;
  width: 80px;
}

.emp16 {
  height: 60px;
  width: 60px;
}
